*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* #region utility */
:root{
    --primary: #0084fd;
    --secondary: #9792e4;
    --bg-panel:#b5ddff;
    --text: #fcc160;
}
.d-flex{
    display: flex;
}
.al-c{
    align-items: center;
}
/* #endregion utility */

/* #region basic elements */
body:{
    max-width: 1152px;    
}
.container{
    width: 60%;
    margin: auto;
    font-family: 'Nunito Sans', sans-serif;
    justify-content: space-between; 
}
a{
    text-decoration: none;
}
/* #endregion basic elements */

/* #region debug */
.debug header{
    height: 100px;
}
.debug main .container{
    height: 300px;
    background-color: pink;
}
.debug .col{
    border: 1px solid black;
}
/* #endregion debug */
/* #region header */

nav{
    padding: 10px;   
}
header{
    background-color: var(--primary);
}
.menu a{
    color: white;
}
.menu{
    gap:10px;
}
#started{
    color: black;
    background-color: white;
    border-radius: 15%;
    padding: 10px;
}
/* #endregion header */

.row{
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 5px;
}
[class^="col"]{
    background-color: var(--bg-panel);
    border-radius: 10px;
}
.col-large{
    width: calc(100% / 3 * 2 - 5px);     
    
    } 
.row .col-thin{
    width: calc(100% / 3);    
}
.col-thin{
    flex-direction: column;
    align-items: center; 
    justify-content: center;
}
.title-panel{
    color: var(--primary);
    font-size: smaller;
    font-weight: bold;
}
.text-panel{
    margin: 10px 0;
    font-size: smaller;
}
.a-store{
    color: white;
    background-color: var(--primary);
    border-radius: 10px;
    padding: 5px 30px;
    display: inline-block;
    margin: 20px 0;
}
#ap-text{
    color: white;
    font-size: small;
}
.phone{
    width: 30%;
    height: 70%;
    margin-top: 75px;
}
.demo-panel{
    padding: 20px;
}
.code{
    text-align: center;
}
.fa-file-code{
    width: 30px;
    height: 30px;
}


/* 
<i class="fa-solid fa-compass-drafting"></i>
<i class="fa-solid fa-bullhorn"></i>
<i class="fa-solid fa-laptop-code"></i>
<i class="fa-solid fa-arrow-down"></i>
<i class="fa-brands fa-linkedin"></i>
<i class="fa-solid fa-quote-left"></i>
<i class="fa-solid fa-quote-right"></i> */
